@import "/style/fonts.css";
@import "/style/sections.css";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

h1 {
    font-family: Montserrat;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave1 {
    background-image: url("/assets/bg/fit-wave.svg");
}
.wave2 {
    background-image: url("/assets/bg/fit-wave2.svg");
}
.wave3 {
    background-image: url("/assets/bg/fit-wave-orange.svg");
}

.navbar {
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: black;
    border-bottom: 4px solid black;
    font-family: Montserrat;
}


.brandName {
    display: block;
    color: black;
    font-size: 36px;
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;   
}

.brandName a {
    color: black;
    text-decoration: none;
    transition: all ease-out 500ms;
}

.brandName:hover {
    font-weight: bold;
}

.navbar-links ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    border-radius: 8px;
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
    transition: all ease-out 250ms;
}

.navbar-links{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 32px;
    text-decoration: none;
    border-radius: 16px;
}

.navbar-links li:hover {
    font-weight: bold;
}

.active {
    text-decoration: #2940d3 underline !important;
    text-underline-offset: 4px;
    font-weight: bold;
}

.menu-button {
    position: absolute;
    display:none;
    top: 2rem;
    right: 1rem;
    flex-direction: column;
    justify-content:space-between;
    width:30px;
    height: 21px;
}

.menu-button .bar {
    height: 4px;
    width: 100%;
    background-color: #000000;
    border-radius:8px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 4px solid black;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.footer h3 {
    margin: .2rem;
}

.portfolioLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolioLink a {
    font-size: 24px;
}

.socialBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.socialLinks {
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer a {
    display:block;
    color: black;
    border-radius: 16px;
    text-decoration: #2940d3 underline;
    text-underline-offset: 4px;
}

.footer a:hover {
    font-weight: bold;
}

@media (max-width:800px) {
    .menu-button {
        display:flex;
    }
    .navbar-links {
        width: 100%;
        display: none;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.shown {
        display: flex;
    }
    .footer {
        flex-direction: column;
    }
    .portfolioLink a {
        padding: 1rem;
    }
}