* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Link {
    font-size: 26px;
    padding: 8px;
    text-decoration: none;
}

h1 {
    font-size: 44px;
    padding: 8px;
    color: aquamarine;
    text-decoration: none;
}