* {
    box-sizing: border-box;
    margin: 0;
}

.Link {
    font-size: 26px;
    padding: 8px;
    text-decoration: none;
}

h1 {
    font-size: 44px;
    padding: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

img {
    width: auto;
}

body {
    font-family: $Poppins;
    color: $dark;
}